.root {
    -fx-font-family: Heebo;
}

/*3E8FB5*/

.content {
    /*-fx-background-color: white;*/
}

.toolbarHeader {
    /*-fx-background-color: #5DBCD2;*/
    -fx-padding: 10px;
    -fx-background-image: url("header.png");
    -fx-background-repeat: no-repeat;
    background-size: 100% 100%;
    -fx-background-position: center;
    -fx-background-size: cover;
}

.button {
    -fx-background-color: white;
    -fx-margin: 0 40px 0 0;
    -fx-font-weight: bold;
}

.content-left-container {
    -fx-padding: 10px;
}

.skiarea-header-container {
    -fx-padding: 10px;
    -fx-min-height: 100px;
}

.skiarea-header-title {
    -fx-font-size: 30px;

}